@font-face {
	font-family: "Hurmit NerdFont";
	src: url("/static/fonts/HurmitNerdFontMono-Light.otf") format("opentype");
}

body {
	font-family: sans-serif;
	background-color: #55495c;
	color: #e3e3e3;
	margin: 20px;
}
.navbar {
	background-color: #38303d;
	border-radius: 5px;
	list-style-type: none;
	padding: 0;
	margin: 0;
	font-size: 16pt;
	font-weight: bold;
}

ul.navbar {
	display: flex;
	list-style: none;
}



ul.navbar li:last-child {
	margin-left: auto;
	padding-right: 10px;
}

.navbar li {
	display: inline-block;
	position: relative;
}

.navbar li:hover {
	background-color: #463c4d;
}

.navbar a {
	text-decoration: none;
	padding: 10px;
	display: block;
}

.dropdown {
	position: relative;
}

.dropdown-content {
	display: none;
	position: absolute;
	right: 0; /* statt left: 0 */
	background-color: #3b3240;
	min-width: 150px;
	box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
	border-radius: 5px;
	top: 100%;
	display: none;
	min-width: 120px; /* oder wie gewünscht */
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	text-align: left;
}

.dropdown:hover .dropdown-content {
	//display: block;
}

.dropdown.open .dropdown-content {
	display: block;
}

ul.dropdown-content {
	padding-left: 0px;
}

.dropdown-content li {
	display: block;
}

.dropdown-content li:hover {
	background-color: #463c4d;
}


#logwindow {
	height: 600px;
	overflow-y: scroll;
	border: 1px solid #ccc;
	background-color: #000;
	color: #e8d8f0;
	border-color: #55495c;
	white-space: pre-wrap;
	font-family: "Hurmit NerdFont";
	font-weight: bold;
}

button{
	font-family: sans-serif;
	font-weight: bold;
	background-color: #38303d;
	color: #e3e3e3;
	border-color: #38303d;
	border-radius: 6px;
	padding: 5px;
}

button:hover{
	background-color: #463c4d;
	border-color: #463c4d;

}

@media (max-width: 1024px) {
	body {
		font-size: 11pt;
	}
	button{
		font-size: 11pt;
	}
}

@media (min-width: 1025px) and (max-width: 2560px) {
	body {
		font-size: 12pt;
	}
	button{
		font-size: 12pt;
	}
}

a,
a:visited,
a:hover,
a:active,
a:focus {
	color: inherit; /* oder z. B. 'black', 'white', etc. */
	text-decoration: none; /* optional: Unterstreichung weg */
}
