.navbar {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.navbar li {
	display: inline-block;
	position: relative;
}

.navbar a {
	text-decoration: none;
	padding: 10px;
	display: block;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f4f4f5;
	min-width: 150px;
	box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}

.dropdown-content li {
	display: block;
}

.dropdown:hover .dropdown-content {
	display: block;
}

#logwindow {
	height: 400px;
	width: 600px;
	overflow-y: scroll;
	border: 1px solid #ccc;
	background-color: #000;
	color: #0f0;
	white-space: pre-wrap;
	font-family: monospace;
}
