@font-face {
	font-family: "Hurmit NerdFont";
	src: url("/static/fonts/HurmitNerdFontMono-Light.otf") format("opentype");
}

body {
	font-family: sans-serif;
	background-color: #55495c;
	color: #e3e3e3;
	margin: 20px;
}
.navbar {
	background-color: #38303d;
	border-radius: 5px;
	list-style-type: none;
	padding: 0;
	margin: 0;
	font-size: 16pt;
	font-weight: bold;
}

ul.navbar {
	display: flex;
	list-style: none;
}


.navbar li {
	display: inline-block;
	position: relative;
}

.navbar li:hover {
	background-color: #463c4d;
	border-radius: 5px;
	border-radius: 5px 5px 0px 0px;
}

.navbar a {
	text-decoration: none;
	padding: 10px;
	display: block;
}

.dropdown {
	position: relative;
}

.dropdown-content {
	display: none;
	position: absolute;
	right: 0; /* statt left: 0 */
	background-color: #3b3240;
	box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
	border-radius: 0px 0px 5px 5px;
	top: 100%;
	display: none;
	min-width: 100px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	text-align: left;
}

.dropdown.open{
	background-color: #463c4d;
	border-radius: 0px 0px 5px 5px;
}
.dropdown.open .dropdown-content {
	display: block;
}

ul.dropdown-content {
	padding-left: 0px;
}

.dropdown-content li {
	display: block;
}

.dropdown-content li:hover {
	background-color: #463c4d;
}

#logwindow {
	height: 600px;
	overflow-y: scroll;
	border: 1px solid #ccc;
	background-color: #000;
	color: #eae8eb;
	border-color: #55495c;
	white-space: pre-wrap;
	font-family: "Hurmit NerdFont";
	font-weight: bold;
	padding-right: 20px;
}

button {
	font-family: sans-serif;
	font-weight: bold;
	background-color: #38303d;
	color: #e3e3e3;
	border-color: #38303d;
	border-radius: 6px;
	padding: 5px;
}

button:hover {
	background-color: #463c4d;
	border-color: #463c4d;
}

input[type="radio"] {
  appearance: none;
  -webkit-appearance: none;
  width: 16px;
  height: 16px;
  border: 2px solid #333;
  border-radius: 0;
  background-color: white;
  position: relative;
  cursor: pointer;
}


input[type="radio"]:checked {
	background-color: black;
	border-color: grey;
}

#mode_div label {
	font-size: 16pt;
}


.textarea{
  resize: none;
}

#proxy_settings button{
	color: #ff8f87;
}

@media (max-width: 1024px) {
	body {
		font-size: 11pt;
	}
	button {
		font-size: 11pt;
	}
}

@media (min-width: 1025px) and (max-width: 2560px) {
	body {
		font-size: 12pt;
	}
	button {
		font-size: 12pt;
	}
}

a,
a:visited,
a:hover,
a:active,
a:focus {
	color: inherit; /* oder z. B. 'black', 'white', etc. */
	text-decoration: none; /* optional: Unterstreichung weg */
}
