{% extends "base.html" %} {% block title %}WebPolarProxy{% endblock %} {% block
content %}
<h1>Logs</h1>

<h2>Container Logs</h2>
<div>
	<pre id="logwindow"></pre>
</div>


<script>
	const logWindow = document.getElementById("logwindow");
	const eventSource = new EventSource("/logs/stream");

	eventSource.onmessage = function (e) {
		logWindow.textContent += e.data + "\n";
		logWindow.scrollTop = logWindow.scrollHeight;
	};

	const width = window.innerWidth;
	document.getElementById("logwindow").style.width = (width - 60) + "px";
</script>
{% endblock %}
