<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <title>{% block title %}Meine Seite{% endblock %}</title>
</head>
<body>
  <!-- Navbar -->
  <nav>
    <ul class="navbar">
      <li><a href="{{ url_for('home') }}">Home</a></li>
      <li><a href="{{ url_for('logs') }}">Logs</a></li>
      <li class="dropdown">
        <a href="#">Export</a>
        <ul class="dropdown-content">
          <li><a>Logs</a></li>
          <li><a>Pcap</a></li>
        </ul>
      </li>
    </ul>
  </nav>
  

  <!-- Seiteninhalt -->
  <div class="content">
    {% block content %}{% endblock %}
  </div>
</body>
</html>
