{% extends "base.html" %} {% block title %}WebPolarProxy{% endblock %} {% block
content %}

<div>
	<h2>Watch livetraffic</h2>
	<button onclick="start_wireshark()">Start Wireshark</button>
</div>
<div>
	<p id="wiresharklabel"></p>
</div>

<script>
function start_wireshark() {
		fetch("/wireshark")
			.then((response) => response.text())
			.then((data) => {
				document.getElementById("status").innerText = data;
			})
			.catch((err) => {
				document.getElementById("status").innerText = "Fehler: " + err;
			});
	}
</script>
{% endblock %}
