{% extends "base.html" %} {% block title %}WebPolarProxy{% endblock %} {% block
content %}
<h1>Live Logs</h1>
<div>
	<pre id="logwindow"></pre>
</div>
<div>
	<h1>Watch livetraffic</h1>
	<button onclick="startProxy()">Start Wireshark</button>
	<p id="status"></p>
</div>

<script>
	const logWindow = document.getElementById("logwindow");
	const eventSource = new EventSource("/logs/stream");

	eventSource.onmessage = function (e) {
		logWindow.textContent += e.data + "\n";
		logWindow.scrollTop = logWindow.scrollHeight;
	};

	function startProxy() {
		fetch("/start-proxy")
			.then((response) => response.text())
			.then((data) => {
				document.getElementById("status").innerText = data;
			})
			.catch((err) => {
				document.getElementById("status").innerText = "Fehler: " + err;
			});
	}
</script>
{% endblock %}
